
* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
	    }
	    
 h1 { font-family: Comfortaa; font-size: 24px;}

body {
	background-image: url("2.jpg");
    background-color: #cccccc;
}

.fixed {
  width: 100%;
  position: fixed; 
  background-color: #FFFFFF;
  top:0%;
  right:0%;
}

.expand {
  height: 800px;
}
/* The navigation bar */
.button{
border-radius: 15px;
background-color: white;
border: #2E5E21 solid 1px;
padding: 10px;
font-family: Comfortaa; 
font-size: 16px;
transition-duration: 0.4s;
margin: 0 20px;
margin-bottom: -14px;
position: relative;
bottom: 38px;
}
.button1:hover {
	border-radius: 15px;
    background-color: #2E5E21;
    color: white;
    padding: 10px;
	font-family: Comfortaa; 
	font-size: 20px;

}

 
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
position:fixed;
right:0%;
}

h1 {
position: absolute;
top: 25%;
}