* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
	    }
	    
 h1 { font-family: Comfortaa; font-size: 24px;}
 a { font-family: Comfortaa; font-size: 24px;}

body {
	background-image: url("2.jpg");
    background-color: #cccccc;
}

.fixed {
  width: 100%;
  position: fixed; 
  background-color: #FFFFFF;
  top:0%;
  right:0%;
}

.expand {
  height: 800px;
}
/* The navigation bar */
