* {

	/* Removes extra spacing from all elements on the page */
	padding: 0;
	margin: 0;

}


body {
	background-image: url("3.jpg");
	overflow-x: hidden;
	background-color: #cccccc;
}

.fixed {
	width: 100%;
	position: fixed; 
	background-color: #FFFFFF;
	top:0%;
	right:0%;
	z-index: 99;

}

.expand {
	height: 800px;
}
/* The navigation bar */
.button{
	border-radius: 15px;
	background-color: white;
	border: #2E5E21 solid 1px;
	padding: 10px;
	font-family: Comfortaa; 
	font-size: 16px;
	transition-duration: 0.7s;
	margin: 0 20px;
	margin-bottom: -14px;
	bottom: 38px;
	color:black;
}
.button1:hover {

	border-radius: 15px;
	background-color: #2E5E21;
	color: white;
	padding: 10px;
	font-family: Comfortaa; 
	font-size: 20px;  
	text-decoration: none;

}


#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
	position:fixed;
	right:0%;
	z-index: 10000000;
}

.posts{

	position:absolute;
	top:36%;
	text-align: center;
	right:42%;
	overflow: auto;
	height:80%;

}
h1 {


	position: fixed;
	top: 21%;
}

h2{
font-family: Comfortaa !important; 
}

.first_header {
	background-color: #e2c65f;
	position: absolute;
	top:14%;
	width:100%;
}
#post{
	border-top:1px solid black;
	padding:10px;
	margin:10px;
	margin-right:-30%;
	margin-left:-30%;
	color:black;
  padding:10px;
  margin:10px;
  margin-right:-20%;
  margin-left:-20%;
  	background-color: rgba(255,255,255, 0.5);

}
a{
  color:black;
  text-decoration: none;
  font-family: Comfortaa; 
}
a:visited{
	color:black;
}

.posting{
	position:fixed;
	z-index:1000;
}
body{
	color:white;
	margin-right:-30%;
	margin-left:-30%;

}

.loginform {
	border-radius: 30px;
	background-color: rgba(255,255,255,0.5);
	width: 14%;
	font-family: Comfortaa;
	padding:15px;
	margin-top: 10px;
}

.carousel-inner {
    position: relative;
    max-width: 40%;
    overflow: hidden;
    right: 30%;
    border-style: solid;
    border-width: 10px;
    border-color: #e2c65f;
}

.register{
	border-radius: 30px;
	background-color: rgba(255,255,255,0.7);
	width: 18%;
	font-family: Comfortaa;
	padding:15px;
	color; black;
	margin-top: 7px;
}

.logout:hover{
	color: grey;
}

.input-group-append{
	background-color: white;
	font-family: Comfortaa; 
	font-size: 16px;
	color: #2E5E21;
}

.postbutton:hover{
	background-color: #2E5E21;
	color: white;
	font-family: Comfortaa; 
}

.input-group{
		font-family: Comfortaa; 

}

.registerin{
		background-color: #2E5E21;

}

.registerin1:hover{
		background-color: #2E5E21;

}

.map{
			position:absolute;
			top:20%;
			text-align:center;
			margin-right:47%;
			margin-left:53%;
		}
