<DOCTYPE! html>
<html>
<head>
	<title>recycleDtrash</title>
</head>
<body>
<div class = "page_title">
	<h1> RecycleDtrash.</h1>
</div>

<div class = "first_header">
	<h2> OUR WEBSITE.</h2>
</div>



<div class = "first_paragraph">
	<p> RecycleDtrash is a website where one can find recycling bins all over jerusalem, planted on a map. One can post public reviews and feedback. By using recycleDtrash you are reducing the accumulating garbage and pollution in our world, making a better living environment for you, your family and for everyone.</p>
</div>
<div class = "second_header">
	<h2> The problem RecycleDtrash solves.</h2>
</div>


<div class = "second_paragraph">
	<p> polution is becoming a more and more dire problem. As only a small portion of plastic, paper and cardboard are getting recycled. Garbage is slowly coverig our planet, if this phenomenon were to continue, the amount of garbage would be too great to fit on our planet.</p>
</div>
<div class ="our_team">
	<h2> OUR TEAM.</h2>
</div>

<div class = "team_paragraph">
	<p> 
	<ul>

		<li>NOAM GLOBERMAN </li>
		<li>EINAV RAVIV</li>
		<li>GASAN ASHAB</li>
		<li>SALWA KHALDI</li>
		<li>IDAN ZAMIR</li>
	</ul>
	</p>
</div>




</body>
</html>
