<DOCTYPE! html>
<html>
<head>
	<title>recycleDtrash</title>
  	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

</head>
<body>

<div class="fixed">
 <img src="{{url_for('static', filename = 'logo.gif')}}" alt="Logo" width="150" height="91">
   <button  class="button button1" href="#post">Post Dtrash</button> 
     <button class="button button1" href="#map">Map Dtrash</button>
  <button class="button button1" href="#report">Report Dtrash</button>
  <button  class="button button1" href="#about">About Us</button>
  <button  class="button button1" href="#contact">Contact Us</button>
</div>

<div id="share-buttons">
    
    <!-- Email -->
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 <br><br>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
   <br> <br>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
   <br> <br>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    
    <br><br>
    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>
    

</div>

<center>
<div class = "first_header">
	<h2> OUR WEBSITE.</h2>
</div>



<div class = "first_paragraph">
	<p> RecycleDtrash is a website where one can find recycling bins all over jerusalem, planted on a map. One can post public reviews and feedback. By using recycleDtrash you are reducing the accumulating garbage and pollution in our world, making a better living environment for you, your family and for everyone.</p>
</div>
<div class = "second_header">
	<h2> The problem RecycleDtrash solves.</h2>
</div>


<div class = "second_paragraph">
	<p> polution is becoming a more and more dire problem. As only a small portion of plastic, paper and cardboard are getting recycled. Garbage is slowly coverig our planet, if this phenomenon were to continue, the amount of garbage would be too great to fit on our planet.</p>
</div>
<div class ="our_team">
	<h2> OUR TEAM.</h2>
</div>

<div class = "team_paragraph">
	<p> 
	<ul>

		<li>NOAM GLOBERMAN </li>
		<li>EINAV RAVIV</li>
		<li>GASAN ASHAB</li>
		<li>SALWA KHALDI</li>
		<li>IDAN ZAMIR</li>
	</ul>
	</p>
</div>
</center>



</body>
</html>
