<DOCTYPE! html>
<html>
<head>
	<title>recycleDtrash</title>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">


	<!-- Required tags to make the website responsive-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Add Bootstrap CSS to the page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<style>

	body{
		background-repeat: no-repeat;
		background-size: cover;
	}

	</style>
</head>
<body>

	<img src="{{url_for('static', filename='map.jpg')}}" width="100%" id="bgimg">

	<div class="fixed" style="font-family: Comfortaa; color:black;">
		<img src="{{url_for('static', filename = 'logo.gif')}}" alt="Logo" width="150" height="91">
		<a class="button button1" href="{{ url_for('home') }}">Post Dtrash</a> 
		<a class="button button1" href="{{ url_for('map') }}">Map Dtrash</a>
		<a class="button button1" href="{{ url_for('report') }}">Report Dtrash</a>
		<a class="button button1" href="{{ url_for('about_us') }}">About Us</a>
		<a  class="button button1" href="{{url_for('contact_us')}}">Contact Us</a>
		<a> hello {{username}}!   </a>
		<a id = "logout" href = "{{ url_for('logout') }}" style="position:relative;right:-5%; color:black; text-decoration: none;">Log out</a>
	</div>


	<div id="share-buttons">

		<!-- Email -->
		<a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
			<img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
		</a>
		<br><br>
		<!-- Facebook -->
		<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
		</a>
		<br> <br>
		<!-- Google+ -->
		<a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
		</a>
		<br> <br>
		<!-- LinkedIn -->
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
		</a>

		<br><br>
		<!-- Print -->
		<a href="javascript:;" onclick="window.print()">
			<img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
		</a>


	</div>

	<center>
		<div class = "first_header">

			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="{{url_for('static', filename = '7.jpeg')}}" alt="First slide"  >
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="{{url_for('static', filename = '4.jpg')}}" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="{{url_for('static', filename = '222.jpg')}}" alt="Third slide">
					</div>
				</div>
			</div>
			<div class="aboutus"><h2 style=" text-shadow:"> About Us</h2>
			<p style="text-align: justify;">RecycleDtrash is a website where one can find recycling bins all over the world, planted on a map. One can post public reviews and feedback, report about new bins and get into an enviornment-freindly community! By using RecycleDtrash you are reducing the accumulating garbage and pollution in our world, making a better living environment for you, your family and for everyone. </p>
		</div>
		</div>

		<!-- here is the missing part -->
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div id = "our_header">
			<center><p>our team:</p></center>
		</div>
		<br>
		<br>
		<div class="row" style="margin-top: 20%">
	
 
  <div class="column">
    <div class="card">
      <img src="{{url_for('static', filename = 'download.gif')}}" alt="einav" style="width:50%">
      <div class="container">
        <h2>Einav Raviv</h2>
        <p class="title">Designing manager & frontend developer</p>
        <p>Nationality: Israeli</p>
        <p>jerusalem</p>
        <p>E-mail: einavraviv1@gmail.com</p>
        <p>Phone: 050-229-9603 </p>

      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{{url_for('static', filename = 'download.gif')}}" alt="noam" style="width:50%">
      <div class="container">
        <h2>Noam Globerman</h2>
        <p class="title">backend developer</p>
        <p>Nationality: Israeli</p>
        <p>Jerusalem </p>
        <p>E-mail: noamg.j2@gmail.com</p>
        <p>Phone: 050-373-0945 </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="{{url_for('static', filename = 'download.gif')}}" alt="idan" style="width:50%">
      <div class="container">
        <h2>Idan Zamir</h2>
        <p class="title">fullstack developer</p>
        <p>Nationality: Israeli</p>
        <p>Nazareth</p>
        <p>E-mail: idanzamir2002@gmail.com</p>
        <p>Phone: 055-885-4017 </p>

      </div>
    </div>
  </div>
</div>

</div>
<div class="column">
    <div class="card">
      <img src="{{url_for('static', filename = 'download.gif')}}" alt="salwa" style="width:50%">
      <div class="container">
        <h2>Salwa Khaldi</h2>
        <p class="title">frontend developer</p>
        <p>Nationality: Palastinian</p>
        <p>Nazareth</p>
        <p>E-mail: salwakhaldi111@gmail.com</p>
        <p>Phone: 050-276-6222 </p>
      </div>
    </div>
  </div>
<div class="column" >
    <div class="card">
      <img src="{{url_for('static', filename = 'download.gif')}}" alt="gasan" style="width:50%">
      <div class="container">
        <h2>Gasan Ashhab</h2>
        <p class="title">Content manager + frontend developer</p>
        <p>Nationality: canadian</p>
        <p>Jerusalem</p>
        <p> E-mail: gasanashhab@gmail.com</p>
        <p> Phone: 058-589-9006 </p>
      </div>
    </div>
  </div>
   

</div>

					<!-- Add JQuery and Bootstrap JS to the page -->
					<!-- JQuery MUST BE BEFORE BOOTSTRAP -->
					<script src="{{ url_for('static', filename='jquery.js') }}"></script>
					<script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>



				</body>
				</html>
