<!DOCTYPE html>
<html>
<head>
	<title>RecycleDtrash</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
	<style>

	.posts::-webkit-scrollbar { 
		display: none; 
	}
	.posts{
		width:100vw;
		overflow-x:none;
		position:absolute;
		left:0%;
	}
	#post{
	}

</style>

</head>
<body>

	<div id="share-buttons">

		<!-- Email -->
		<a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
			<img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
		</a>
		<br><br>
		<!-- Facebook -->
		<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
		</a>
		<br> <br>
		<!-- Google+ -->
		<a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
		</a>
		<br> <br>
		<!-- LinkedIn -->
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
		</a>
		<br><br>
		<!-- Print -->
		<a href="javascript:;" onclick="window.print()">
			<img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
		</a>

	</div>
	<div class="fixed" style="font-family: Comfortaa; color:black;">
		<img src="{{url_for('static', filename = 'logo.gif')}}" alt="Logo" width="150" height="91">
		<a class="button button1" href="{{ url_for('home') }}">Post Dtrash</a> 
		<a class="button button1" href="{{ url_for('map') }}">Map Dtrash</a>
		<a class="button button1" href="{{ url_for('report') }}">Report Dtrash</a>
		<a class="button button1" href="{{ url_for('about_us') }}">About Us</a>
		<a  class="button button1" href="{{url_for('contact_us')}}">Contact Us</a>
		<a>hello {{username}}!</a>
		<a class= "logout" href = "{{ url_for('logout') }}" style="position:relative;right:-5%; color:black; text-decoration: none;">Log out</a>
	</div>
	


	<center>
		<br>
		<br>
		<br>
		<div> 
		<div class="justify-center">
			
			<div class="reporting" style="width: 27%; height: 100%; margin-top: -150px">
<h1 style="text-align: center; font-family: comfortaa; font-size: 48px;     text-shadow: 2px 2px 4px #000000;">Post Dtrash.</h1>
<h3 style="text-align: center; font-family: comfortaa; font-size: 20px;     text-shadow: 2px 2px 4px #000000; padding: 10px; "> Hi {{username}}, share your recycled trash with our community. And your feelings if you would like to.</h3>
			<form action = "/home" method = "post">
					<textarea id="message" class="form-control" name="message" placeholder="Enter your post here" aria-label="Recipient's username" aria-describedby="button-addon2" style = "width: 500px; "></textarea>
<!-- 					<input type="text" class="form-control"  name="message" placeholder="Enter your post here" >
 -->					<br>
					<input type="text" class="form-control"  name="image" placeholder="Post image link" aria-label="Recipient's username" aria-describedby="button-addon2" style = "width: 500px;">
					<br>

						<button class= "btn btn-primary registerin registerin1" type="submit" id="button-addon2">Post</button>

			</form>
			</div>



		</div>
	</div>

		<div class = "posts">
			{%for post in posts%}
			<div id = "post">
				<span><p align=left style="font-size: 18px;"><b>{{post.user_name}} :</b></p>
					{{post.message}}
					<br>
					<img src = "{{post.image}}" width = "450" />
				</span>
				<br>
			</div>

			{%endfor%}
		</div>
	</center>
</body>
</html>
