<!DOCTYPE html>
<html>
<head>
	<title>RecycleDtrash</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

</head>
<body>

	<div id="share-buttons">

		<!-- Email -->
		<a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
			<img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
		</a>
		<br><br>
		<!-- Facebook -->
		<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
		</a>
		<br> <br>
		<!-- Google+ -->
		<a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
		</a>
		<br> <br>
		<!-- LinkedIn -->
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
		</a>
		<br><br>
		<!-- Print -->
		<a href="javascript:;" onclick="window.print()">
			<img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
		</a>

	</div>
	<div class="fixed" style="font-family: Comfortaa; color:black;">
		<img src="{{url_for('static', filename = 'logo.gif')}}" alt="Logo" width="150" height="91">
		<a class="button button1" href="{{ url_for('home') }}">Post Dtrash</a> 
		<a class="button button1" href="{{ url_for('map') }}">Map Dtrash</a>
		<a class="button button1" href="{{ url_for('report') }}">Report Dtrash</a>
		<a class="button button1" href="{{ url_for('about_us') }}">About Us</a>
		<a  class="button button1" href="{{url_for('contact_us')}}">Contact Us</a>
		<a> hello {{username}}!   </a>
		<a id = "logout" href = "{{ url_for('logout') }}" style="position:relative;right:-5%; color:black; text-decoration: none;">log out</a>
	</div>
	


<center>
	<br>
	<br>
	<div class = "posting"style="position:fixed;top:14%;left:44%;">

		<form action = "/home" method = "post">


			<input type = "text" name = "message" placeholder="enter your post here :)">
			<br>
			<input type = "submit" value = "Post!" style = "position:relative;left:35%;">

		</form>

	</div>


	<div class = "posts">
		{%for post in posts%}
		<div id = "post">
			<span>name: {{post.user_name}}</span>
			<br>
			<span>content: {{post.message}}</span>
			<br>
		</div>

		{%endfor%}
	</div>
</center>
</body>
</html>
