<!DOCTYPE html>
<html>
    <head>
        <title>RecycleDtrash</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
		<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>
    <body>

      <div class="fixed">
 <img src="{{url_for('static', filename = 'logo.gif')}}" alt="Logo" width="150" height="91"> 
  <button class="button button1" href="#login">Log In</button>
  <button  class="button button1" href="#signup">Sign Up</button>
  <button  class="button button1" href="#about">About Us</button>
  <button  class="button button1" href="#contact">Contact Us</button>

</div>


    </body>
</html>
