<DOCTYPE! html>
<html>
<head>
	<title>login page </title>
</head>
<body>
<div class = "login_page_title">
	<br>
	<h1> login here to start using RecycleDtrash.</h1>
</div>
<div class= "login_inputs">

<form action = "/" method = "post">
	<br>
	<input class = "username_margin"
	type="text" name="user_name" placeholder="username">
	<br>
	
	<input class="passsword_margins"
	type="password" name="password" placeholder="password">
	<br>
	<input class="login_button_margin"
	 type="submit" value="login"> 
</form> 
</div>
</body>
</html>