<!DOCTYPE html>
<html>
<head>
	
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>


	<!-- Required tags to make the website responsive-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Add Bootstrap CSS to the page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}">



	<title>login page </title>
</head>
<body>
<!-- <div class = "login_page_title">
	<br>
	<h1> login here to start using RecycleDtrash.</h1>
</div>
<div class= "login_inputs">

<form action = "/" method = "post">
	<br>
	<input class = "username_margin"
	type="text" name="user_name" placeholder="username">
	<br>
	
	<input class="passsword_margins"
	type="password" name="password" placeholder="password">

	<br>
	<input class="login_button_margin"
	 type="submit" value="login"> 
</form> 
</div> -->
<center>
		 <img src="{{url_for('static', filename = 'logo.gif')}}" alt="Logo" >
<br>
<div class="loginform">

	<form action = "/" method = "post">
		<div class="form-group">
			<font color="black"><label>User name</label></font>
			<input type="text" class="form-control"  name="user_name" placeholder="Username">
		</div>
		<div class="form-group">
			<font color="black"><label>Password</label></font>
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-primary registerin">Sign in</button>
		
	</form>
	
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" href="{{url_for('register')}}">New around here? Sign up!</a>
</div>
</center>
<!-- Add JQuery and Bootstrap JS to the page -->
<!-- JQuery MUST BE BEFORE BOOTSTRAP -->
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>

</body>
</html>