<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">

  	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='map.css')}}">


  	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
	<title>Map</title>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
</head>

<body>
	<div id="share-buttons">

		<!-- Email -->
		<a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
			<img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
		</a>
		<br><br>
		<!-- Facebook -->
		<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
		</a>
		<br> <br>
		<!-- Google+ -->
		<a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
		</a>
		<br> <br>
		<!-- LinkedIn -->
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
			<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
		</a>
		<br><br>
		<!-- Print -->
		<a href="javascript:;" onclick="window.print()">
			<img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
		</a>

	</div>


	<div class="fixed" style="font-family: Comfortaa; color:black;">
    <img src="{{url_for('static', filename = 'logo.gif')}}" alt="Logo" width="150" height="91">
    <a class="button button1" href="{{ url_for('home') }}">Post Dtrash</a> 
    <a class="button button1" href="{{ url_for('map') }}">Map Dtrash</a>
    <a class="button button1" href="{{ url_for('report') }}">Report Dtrash</a>
    <a class="button button1" href="{{ url_for('about_us') }}">About Us</a>
    <a  class="button button1" href="{{url_for('contact_us')}}">Contact Us</a>
    <a> hello {{username}}!   </a>
    <a id = "logout" href = "{{ url_for('logout') }}" style="position:relative;right:-5%; color:black; text-decoration: none;">log out</a>
  </div>

<!-- 	<div class = "map">

	<iframe src="https://www.google.com/maps/d/embed?mid=1VLoNnGRLL66xhQ5NQUeTfAh7CY9_iWGl" width="640" height="480" id="map"></iframe>

	</div> -->

	  <div id="map" style="width: 400px; height: 100%; padding-left: 2000px; z-index: 0;"></div>
	  <script>
	    // position we will use later
	    // var lat = 40.73;
	    // var lon = -74.00;
	    // initialize map
	    map = L.map('map').setView([31.77, 35.19], 10);
	    // set map tiles source
	    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
	      maxZoom: 18,
	    }).addTo(map);
	    // add marker to the map
	    // add popup to the marker
	    //marker.bindPopup("<b>ACME CO.</b><br />This st. 48<br />New York").openPopup()
	    var markerList = {{marker_list}};
	    var nameList = {{name_list|safe}};
	    for (var i=0; i<markerList.length; i++){
	    	marker = L.marker(markerList[i]).addTo(map);
	    	marker.bindPopup(nameList[i]).openPopup();
	    }
	  </script>



</body>

</html>
