<DOCTYPE! html>
<html>
<head>
	<title>Profile page </title>
	<style>
h1{
	color:black;
}
h1{
	margin-bottom: 60;
	position:absolute;
	top:5%;
	width:200%;
	font-family: comfortaa;
}
h2{color: black;}
h2{
	padding:30px;
	position:absolute;
	top:25%;
	width:50%;
}
body{
	background-image:url("{{url_for('static',filename='APRIL.jpg')}}");
	background-repeat: no-repeat;
	background-size: cover;
}



</style>
</head>
<body>
<style>






</style>
<div class = "profile_header">
	<br>
	<h1>Welcome {{username}} </h1>
</div>

<div class = "your comments">

	<h2>your posted reviews:</h2>
	{%for post in post%}


	<span>message: {{post.message}}</span>


	{%endfor%}
	<br>

</div>

<a href="{{ url_for('home') }}">back to home page</a>
</body>




