




<!DOCTYPE html>
<body>

<head>

<style></style>
</head>
<body>


  

<h1 style="background-color: ; text-align: center;" > REGISTRATION </h1>
<form action = "/register" method = "post">
	<center>
	 <label for="username"><b>username</b></label>
	 <br>
	<input type="text" name="user_name" placeholder="">
	<br>
	<br>
	<label for="password"><b>Password</b></label>
	<br>
	<input type="password" name="password" placeholder="">
	<br>
	<br>
	<button onclick="document.getElementById('id01').style.display='block'">register</button>
	</center>

</form>


</body>
</html>
 