<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='map.css')}}">
    <link rel='shortcut icon' type='image/x-icon' href='https://www.woonsocketri.org/sites/woonsocketri/files/bulletins/recycling_1.jpg' />


    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <title>verify your account</title>
</head>

<body>


    <form action = "/verify" method="post">


        <input type = "text" name = "username" placeholder="username">
        <br>
        <input type = "text" name = "code" placeholder="verification code">
        <br>
        <input type = "submit" value = "submit">


    </form>


</body>



</html>
